<div class="container">
  <h2>Login Page</h2>

  <form {{action "authenticate" on="submit"}}>
    <label for="identification">Login in</label>
    {{input id="identification" value=login placeholder="Login"}}<br>
    <label for="password">Password</label>
    {{input id="password" value=password placeholder="Password" type="password"}}<br>
    <button class="btn btn-primary" type="submit">Login</button>
    <button class="btn btn-success" {{action "logstuff"}} >Show me</button>
  </form>

  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{else if successMessage }}
    <p>{{successMessage}}</p>
  {{/if}}
</div>